*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: autol
	overflow: hidden;
	background-color: black;
}

.content-wrapper{
	width:  80%;
	margin: 4% 10% 5% 10%;
}

.background-wrapper{
	width 100%;
}